@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #252361;
    color: #fff;
    padding: 16px 0;
}

.logo,
section h2,
header nav li a,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
    color: #252361;
}

.logo {
    font-weight: normal;
    color: #fff;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands_list img{
    height: 24px;
}

.brands_list li {
    list-style: none;
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: start;
}

section .container .loja_fot {
    width: 575px;
    height: 350px;
    margin-right: 26px;
}

section {
    padding: 24px 0;
    color: #16153B;
}

section h2 {
    margin-bottom: 16px;
    color: #252361;
    font-weight: normal;
}

section p {
    margin-bottom: 10px;
}

.social_links img{
    height: 30px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 150px;
}

.social_links li {
    display: inline-block;
    margin-right: 8px;
}

.social_links li a {
    text-decoration: none;
}

.contact-methods h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #252361;
    border: none;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #35327d;
}

input:focus, textarea:focus {
    outline-color: #35327d;
}

footer {
    background-color: #16153B;
    color: #fff;
    padding: 20px 0;
}